name: cloud function
on:
  push:
    paths:
    - 'function/**'
env:
  GO111MODULE: on
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.11
      uses: actions/setup-go@v1
      with:
        go-version: 1.11
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    
    - name: Download modules
      run: go mod download
      working-directory: function
      
    - name: Verify modules
      run: go mod verify
      working-directory: function

    - name: Test
      run: go test -v .
      working-directory: function
      
    - name: Build
      run: go build -v .
      working-directory: function
